@import url('https://fonts.googleapis.com/css?family=Oswald|Pridi');

body {
    background: url('/img/cherprang-river-jhk.jpeg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    font-family: 'Pridi';
    font-size: 18px;
}
.tinter{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(255,132,174,0.5);
    z-index: -1;
}

.sidebar h1{
    font-family: 'Oswald', sans-serif;
}
.sidebar h1, .sidebar p{
    text-shadow: 0px 0px 5px #000;
}

.card {
    margin-bottom: 20px;
}
.bg-dark-translucent {
    background: rgb(52, 58, 64, 0.8) !important; 
}