html{
}
body {
    background: url('/img/cherprang-river-jhk.jpeg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    font-family: 'Boon';
    font-size: 18px;
    color: #fff;
}

.sidebar{
    text-shadow: 0px 0px 5px #000;
}
.sidebar h1{
    font-family: 'Oswald', sans-serif;
}

.card {
    background: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}
.card footer{
    color: #aaa;
}